[main]

dont_bundle =
	ckanext-pdfview/vendor/pdfjs/web/locale/locale.properties.js
 
[depends]

main = base/main

[groups]

main =
    vendor/pdfjs/web/l10n.js
    vendor/pdfjs/web/compatibility.js
    vendor/pdfjs/build/pdf.js
    vendor/pdfjs/build/pdf.worker.js
    vendor/pdfjs/web/viewer.js
    pdf_view.js

    vendor/pdfjs/web/viewer.css
    css/pdf.css
